html,
body {
  user-select: none;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overscroll-behavior: contain;
}

#pet {
  cursor: pointer;
  background-color: #222222;
  overflow: hidden;
}

#visualizer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

#start {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  color: #666;
  background: transparent;
  outline: none;
  border: 0.25rem solid #333;
  border-radius: 0.5rem;
  transform: translate(calc(50vw - 50%), calc(50vh - 50%));
  cursor: pointer;
}

#start:hover {
  color: #777;
  border-color: #444;
  box-shadow: 3px 3px 0 #00000044;
}

#start:active {
  color: #555;
  border-color: #222;
  box-shadow: 3px 3px 0 #00000022;
}

#contentmentLevel {
  position: fixed;
  top: 0;
  right: 0;
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: bolder;
  color: #dddd00;
}

#contentmentLevel span {
  font-size: 2rem;
  margin-left: 1rem;
}

#message {
  position: absolute;
  font-family: fantasy;
  font-size: 3rem;
  color: #888;
  opacity: 0;
  transition: opacity 160ms;
}

#message.show {
  opacity: 1;
  animation: shake 60ms alternate infinite;
}

@keyframes shake {
  0% {
    transform: translate(8px, 8px);
  }
  50% {
    transform: translate(-8px, -8px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
